/* You can add global styles to this file, and also import other style files */


@font-face {
    font-family: Yekan;
    src: url('./assets/fonts/yekan/Yekan.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: vazir;
    src: url('./assets/fonts/vazir/Vazir.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: iran-sans;
    src: url('./assets/fonts/iran-sans/IRANSansWebRegular.otf');
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: iran-sans;
}