@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

// * Resetting default margin and padding */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
    font-family: iran-sans;
}

/* Styling hero section */
.hero {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px 20px;
    background-color: #ececec;

    // /* Styling hero content */
    .hero-content {
        // flex: 1;
        padding-left: 50px;

        h1 {
            font-size: 27px;
            font-size: bold;
            color: #333333;
            margin-bottom: 20px;

            span {
                font-family: "Lobster", sans-serif;
                color: #3F51B5;
                font-size: bold;
            }
        }

        h2 {
            font-size: 20px;
            font-size: bold;
            color: #333333;
            margin-bottom: 20px;
        }

        p {
            font-size: 14px;
            color: #666666;
        }
    }

    // /* Styling hero image */
    .hero-image {
        padding-left: 20px;

        img {
            max-width: 100%;
            height: auto;
            border-radius: 50px;
        }
    }
}

/* Styling product showcase section */
.product-showcase {
    padding: 80px 20px;
    text-align: center;

    h2 {
        font-size: 26px;
        font-size: x-large;
        color: #333333;
        margin-bottom: 40px;
    }

    .product-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 30px;
        justify-items: center;

        /* Styling individual product */
        .product {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;

            &:hover {
                transform: translateY(-5px);
            }

            img {
                max-width: 100%;
                height: auto;
                border-radius: 5px;
                margin-bottom: 20px;
            }

            h3 {
                font-size: 18px;
                color: #333333;
                margin-bottom: 10px;
            }

            .price {
                font-size: 16px;
                color: #666666;
            }
        }
    }
}

/* Styling about us section */
.about-us {
    padding: 80px 20px;
    text-align: center;

    .about-content {
        h2 {
            font-size: 24px;
            color: #333333;
            margin-bottom: 40px;
        }

        p {
            font-size: 16px;
            color: #666666;
            margin-bottom: 20px;
        }
    }

    .team-members {
        margin-top: 40px;

        h3 {
            font-size: 20px;
            color: #333333;
            margin-bottom: 20px;
        }

        /* Styling team members */
        .team-member {
            display: inline-block;
            margin-right: 30px;

            img {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                margin-bottom: 10px;
            }

            h4 {
                font-size: 18px;
                color: #333333;
                margin-bottom: 5px;
            }

            p {
                font-size: 16px;
                color: #666666;
            }
        }
    }

}

/* Styling testimonials section */
.testimonials {
    padding: 80px 20px;
    text-align: center;

    h2 {
        font-size: 24px;
        color: #333333;
        margin-bottom: 40px;
    }

    /* Styling individual testimonials */
    .testimonial {
        background-color: #f8f8f8;
        padding: 30px;
        margin-bottom: 30px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        .testimonial-content {
            p {
                font-size: 16px;
                color: #666666;
                margin-bottom: 20px;
            }

            cite {
                font-style: italic;
                font-size: 14px;
                color: #999999;
            }
        }

    }

}

/* Styling contact section */
.contact {
    padding: 80px 20px;
    text-align: center;

    h2 {
        font-size: 24px;
        color: #333333;
        margin-bottom: 40px;
    }

    /* Styling contact info */
    .contact-info {
        margin-bottom: 40px;

        p {
            font-size: 16px;
            color: #666666;
            margin-bottom: 20px;
        }

        ul {
            list-style-type: none;
            padding: 0;

            li {
                font-size: 16px;
                color: #333333;
                margin-bottom: 10px;

                a {
                    color: #ff6600;
                    text-decoration: none;
                }
            }
        }
    }
}