<section class="hero">
    <div class="hero-content">
        <h1>به سایت <span>Merry Decor</span> خوش آمدید</h1>
        <h2>اتاق کودکان خود را به سرزمین عجایب تبدیل کنید!</h2>
        <p>مجموعه وسایل دکوری بازیگوش و خلاقانه ما را مرور کنید تا تخیل کودکتان را برانگیزد.</p>
    </div>
    <div class="hero-image">
        <img src="./../../../assets/img-home/hero-image.jpg" alt="Kids' Room Decor Hero Image">
    </div>
</section>

<section class="product-showcase">
    <h2>محصولات ویژه</h2>
    <div class="product-grid">
        <div class="product">
            <img src="./../../../assets/img-home/product1.jpg" alt="Product 1">
            <h3>عکس برگردان دیوار حیوانات بازیگوش</h3>
            <p class="price">19.99 دلار</p>
        </div>
        <div class="product">
            <img src="./../../../assets/img-home/product2.jpg" alt="Product 2">
            <h3>فرش خلاق کودکانه</h3>
            <p class="price">29.99 دلار</p>
        </div>
        <div class="product">
            <img src="./../../../assets/img-home/product3.jpg" alt="Product 3">
            <h3>سرویس خواب های رنگارنگ</h3>
            <p class="price">39.99 دلار</p>
        </div>
        <!-- Add more product items as needed -->
    </div>
</section>

<section class="about-us">
    <div class="about-content">
        <h2>درباره ما</h2>
        <p>به دکور اتاق کودک خوش آمدید، جایی که تخیل با واقعیت روبرو می شود! ما مشتاق ایجاد فضاهای پر جنب و جوش و بازی
            برای رشد، یادگیری و کشف کودکان هستیم.</p>
        <p>سفر ما با یک ایده ساده آغاز شد: آوردن شادی و خلاقیت به اتاق هر کودک. با تیمی از طراحان و صنعتگران با استعداد،
            ما طیف گسترده ای از محصولات را که شگفتی و لذت را القا می کنند، انتخاب می کنیم.</p>
        <p>از برگردان‌های دیواری عجیب و غریب گرفته تا فرش‌های دنج و سرویس‌های رختخواب، هر مورد در مجموعه ما با عشق و
            توجه به جزئیات طراحی شده است. ما معتقدیم که هر کودکی سزاوار فضایی است که تخیل او را جرقه بزند و رویاهای او
            را پرورش دهد.</p>
    </div>
    <div class="team-members">
        <h3>با تیم ما آشنا شوید</h3>
        <div class="team-member">
            <img src="./../../../assets/img-home/team-member1.jpg" alt="Team Member 1">
            <h4>امید عقیلی</h4>
            <p>موسس و طراح ارشد</p>
        </div>
        <div class="team-member">
            <img src="./../../../assets/img-home/team-member2.jpg" alt="Team Member 2">
            <h4>سمیرا</h4>
            <p>صنعتگر پیشرو</p>
        </div>
    </div>
</section>

<section class="testimonials">
    <h2>آنچه مشتریان ما می گویند</h2>
    <div class="testimonial">
        <div class="testimonial-content">
            <p>ما کاملاً عاشق عکس‌های دیواری هستیم که از دکور اتاق بچه‌ها خریداری کرده‌ایم! آنها شخصیت بسیار زیادی به
                اتاق پسرمان اضافه کردند و کیفیت آن استثنایی است.»</p>
            <cite> ایلیا توکلی </cite>
        </div>
    </div>
    <div class="testimonial">
        <div class="testimonial-content">
            <p>فرش‌هایی که ما سفارش دادیم فراتر از انتظارات ما بودند! آنها نه تنها زیبا هستند، بلکه بادوام نیز هستند.
                دکور اتاق کودک را برای هر کسی که به دنبال زیباتر کردن فضای کودک خود است، توصیه می‌کنیم.</p>
            <cite>رضا طباطبایی</cite>
        </div>
    </div>
</section>

<section class="contact">
    <h2>تماس با ما</h2>
    <div class="contact-info">
        <p>در صورت داشتن هرگونه سوال یا سوال، با ما تماس بگیرید:</p>
        <ul>
            <li>ایمیل: <a href="mailto:omid.aghili@gmail.com">omid.aghili&#64;gmail.com</a></li>
            <li> تلفن:<a href="tel:+989123464052"> 09123464052</a></li>
            <li>نشانی: تهران؛ خیابان بهشتی</li>
        </ul>
    </div>
</section>