.not-found {
    font-family: vazir, sans-serif;
    // background-color: #88efc8;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    text-align: center;

    h2 {
        font-family: vazir;
        margin: 40px 0;
        font-size: 2.5rem;
    }

    img {
        width: 600px;
        max-width: 75%;
    }

    h4 {
        font-family: vazir;
        margin: 40px 0 20px;
        font-size: 1.2rem;
    }
}

.main-btn {
    font-family: vazir;
    padding: 15px;
    border: none;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 6px;
    cursor: pointer;
}

@media (max-width:767px) {
    .wrapper h2 {
        font-size: 2rem;
    }

    .wrapper h4 {
        font-size: 1rem;
    }
}