#menuTitle {


    a {
        text-decoration: none;
        color: white;
        margin-left: 20px;
        font-family: vazir;
        font-weight: bold;
        font-size: 1.3rem;
    }
}

a {
    font-family: vazir;
    font-size: 1rem;
}

.mat-toolbar {
    height: 66px;
}

.mat-sidenav {
    background-color: #3F51B5;
    width: 140px;
}

.side-nav-items {
    display: flexbox;
    flex-direction: column;
}

.side-menu-item {
    color: white !important;
    margin-top: 20px;
    font-family: vazir;
    text-align: center;
}

@media (min-width:900px) {
    #menuIcon {
        display: none;
    }

    .mat-sidenav {
        display: none;
    }
}

@media (max-width:900px) {
    .top-menu-item {
        display: none;
    }
}


@media (max-width:330px) {
    #menuTitle {
        a {
            font-size: 1rem;
        }

        .faceIcon {
            font-size: 1rem;
        }
    }
}